<footer id="footer" class="footer-area">
    <div class="footer-widget pt-130 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="footer-content text-center">
                        <a href="/">
                            <img src="/public/images/logo-2.png" alt="Logo">
                        </a>
                        <p class="mt-"><strong>COPYRİGHT @2022 DURDU KAAN KALTAKKIRAN</strong> </p>
                        <ul>
                            <li><a href="https://www.instagram.com/kaan_k.kiran/"target="_blank" rel="noopener noreferrer" ><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://twitter.com/kaankiran18" target="_blank" rel="noopener noreferrer"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="https://open.spotify.com/playlist/3qXLg331Z7T8aeliUvDI0x?si=3bc67dd3a50440f7" target="_blank" rel="noopener noreferrer"><i class="lni lni-spotify"></i></a></li>
                                <li><a href="https://github.com/kaankaltakkiran" target="_blank" rel="noopener noreferrer"><i class="lni lni-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/durdu-kaan-kaltakk%C4%B1ran-aba776223/?originalSubdomain=tr" target="_blank" rel="noopener noreferrer"><i class="lni-linkedin-original"></i></a></li>                              
                            </ul>
                        </ul>
                    </div> <!-- footer content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    <div class="footer-copyright pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text text-center pt-20">
                        <p>Template by <a href="https://uideck.com"target="_blank" rel="noopener noreferrer">UIdeck</a></p>
                    </div> <!-- copyright text -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
</footer>




    <!--====== jquery js ======-->
    <script src="/public/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/public/js/jquery.magnific-popup.min.js"></script>

    <!--====== Parallax js ======-->
    <script src="/public/js/parallax.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="/public/publicjs/waypoints.min.js"></script>
    <script src="/public/js/jquery.counterup.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="/public/js/ajax-contact.js"></script>

    <!--====== Appear js ======-->
    <script src="/public/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="/public/js/scrolling-nav.js"></script>
    <script src="/public/js/jquery.easing.min.js"></script>

    <!--====== Validator js ======-->
    <script src="/public/js/validator.min.js"></script>

    <!--====== Main js ======-->
    <script src="/public/js/main.js"></script>

</body>
