
<!doctype html>
<html lang="tr">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Durdu Kaan Kaltakkıran</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/public/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/public/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/public/css/style.css">

   
    
    

</head>

