<!-- Ortak Headar İmport -->
<%- include("partials/_header")%>

<!-- Loader -->
<div class="preloader">
    <div class="loader_34">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
<!-- Ortak Menü İmport -->
    <%- include("partials/_menu")%>
    <!--====== HEADER PART ENDS ======-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/js/contactAlertMessage.js"></script>

    <div id="parallax" class="header-content d-flex align-items-center">
        <div class="header-shape shape-one layer" data-depth="0.10">
            <img src="/public/images/banner/shape/shape-1.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-tow layer" data-depth="0.30">
            <img src="/public/images/banner/shape/shape-2.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-three layer" data-depth="0.40">
            <img src="/public/images/banner/shape/shape-3.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-fore layer" data-depth="0.60">
            <img src="/public/images/banner/shape/shape-2.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-five layer" data-depth="0.20">
            <img src="/public/images/banner/shape/shape-1.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-six layer" data-depth="0.15">
            <img src="/public/images/banner/shape/shape-4.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-seven layer" data-depth="0.50">
            <img src="/public/images/banner/shape/shape-5.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-eight layer" data-depth="0.40">
            <img src="/public/images/banner/shape/shape-3.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-nine layer" data-depth="0.20">
            <img src="/public/images/banner/shape/shape-6.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="header-shape shape-ten layer" data-depth="0.30">
            <img src="/public/images/banner/shape/shape-3.png" alt="Shape">
        </div> <!-- header shape -->
        <div class="container">
          
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="header-content-right">           
                        <h4 class="sub-title">Merhaba Ben,</h4>
                        <h1 class="title">Durdu Kaan Kaltakkıran</h1>
                        <p><strong>Bilgisayar Mühendisiyim.</strong></p>
                        <a class="main-btn" href="#work">Çalışmalarım/Projelerim</a>
                    </div> <!-- header content right -->
                </div>
                <div class="col-lg-6 offset-xl-1">
                    <div class="header-image d-none d-lg-block">
                        <img src="/public/images/banner/hero.png" alt="hero">
                    </div> <!-- header image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="header-social">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-social-icon">
                            <ul>
                                <li><a href="https://www.instagram.com/kaan_k.kiran/"target="_blank" rel="noopener noreferrer" ><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://twitter.com/kaankiran18" target="_blank" rel="noopener noreferrer"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="https://open.spotify.com/playlist/3qXLg331Z7T8aeliUvDI0x?si=3bc67dd3a50440f7" target="_blank" rel="noopener noreferrer"><i class="lni lni-spotify"></i></a></li>
                                <li><a href="https://github.com/kaankaltakkiran" target="_blank" rel="noopener noreferrer"><i class="lni lni-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/durdu-kaan-kaltakk%C4%B1ran-aba776223/?originalSubdomain=tr" target="_blank" rel="noopener noreferrer"><i class="lni-linkedin-original"></i></a></li>                              
                            </ul>
                        </div> <!-- header social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header social -->
    </div> <!-- header content -->
</header>
    <!--====== ABOUT PART START ======-->
    <section id="about" class="about-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="darkmode-ignore title">Hakkımda</h2>
                        <p>Kütahya Dumlupınar 4.Sınıf Bilgisayar Mühendisliği Öğrencisiyim. </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50">
                        <h5 class="about-title">Merhaba, Benim Adım Durdu Kaan Kaltakkıran</h5>
                        <p>Aktif olarak 4.sınıf öğrencisiyim. Bir çok alanda araştırmalarda bulundum ve kendi çapımda yazılım geliştirdim.<br>
                            Şu zamanlarda ise aktif olarak web geliştirme konusunda kendimi geliştiriyorum.
                            <strong>Html,Css,JavaScripte</strong> ek olarak, front-end tarafında <strong>React</strong> Öğreniyorum.<br>
                             Back-end tarafında ise <strong>Nodejs</strong> öğrenerek kendimi geliştiriyorum. Veri tabanı olarak <strong>MongoDb</strong> kullanıyorum.</p>
                        <ul class="clearfix">
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-calendar"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span><strong> Doğum Tarihim:</strong></span> 23.12.1999</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-left">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span><strong>Email:</strong></span><a href="mailto:kaan_fb_aslan@hotmail.com">kaan_fb_aslan@hotmail.com</a></p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-phone-handset"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span><strong>Telefon Numaram:</strong></span><a href="tel:05076600884">05076600884</a></p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-left">
                                    <div class="info-icon">
                                        <i class="lni-map-marker"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span><strong>Adres:</strong></span>Karşıyaka/İzmir
                                        </p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                    </div> <!-- about content -->
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="about-skills pt-25">
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">HTML</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">90</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">CSS</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">80</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="80"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">JavaScript</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">50</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="50"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">NodeJs</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">70</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="70"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                    </div> <!-- about skills -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
    <!--====== CALL TO ACTION PART START ======-->
    <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover" style="background-image: url(/images/call-to-action.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="action-title"> Öğrenmeye Devam</h2>
                        <strong><p>Destek İçin</p></strong>
                        <ul>
                            <form action="/dowland/file">
                            <li><button class="main-btn custom" type="submit">Cv İndir</button></li>
                            <li><a class="main-btn custom-2" target="_blank" rel="noopener noreferrer" href="https://linktr.ee/d.kaan">İletişim Adreslerim</a></li>
                        </ul>
                    </form>
                    </div> <!-- call action content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== CALL TO ACTION PART ENDS ======-->
    <!--====== WORK PART START ======-->
    <section id="work" class="work-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Yapmış Olduğum Çalışmalar</h2>
                        <p>Farklı türdeki çalışmalarım. Bazıları eğitimde kullandığım çalışmalar.<br> Bazıları ise kendi çalışmalarım.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-1.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">Çikolata Satış Sitesi</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-1.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href="https://github.com/kaankaltakkiran/cikolata-satis-sitesi-final-projesi"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-2.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">Arin Fotoğraf Sitesi</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-2.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href="https://github.com/kaankaltakkiran/ArinNodejsProje"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-3.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">React Hava Durumu Sitesi</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-3.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href=" https://github.com/kaankaltakkiran/Reat_weather"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-4.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">React Çalışan Sitesi</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-4.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href=" https://github.com/kaankaltakkiran/React_Manager_Employees_App"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>                              
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-5.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">Akıllı Priz</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-5.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href="https://github.com/kaankaltakkiran/Nesnelerin-interneti-Proje"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="/public/images/work/w-6.jpg" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">FPGA Eşitlik Kontrol</h3>
                                <ul>
                                    <li><a class="image-popup" href="/public/images/work/w-6.jpg"><i class="lni-plus"></i></a></li>
                                    <li><a href="https://github.com/kaankaltakkiran/Fpga-Vhdl-Proje-"target="_blank" rel="noopener noreferrer"><i class="lni-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="work-more text-center mt-50">
                        <a class="main-btn" href="https://github.com/kaankaltakkiran" target="_blank" rel="noopener noreferrer">Daha Fazla Çalışma İçin</a>
                    </div> <!-- work more -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== WORK PART ENDS ======-->

    <!--====== CONTACT PART START ======-->
    <section id="contact" class="contact-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Bana Ulaşın</h2>
                        <p>Aşağıdaki bilgilerden bana ulaşabilirsiniz.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-map-marker"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Adres</h6>
                            <p>Karşıyaka/İzmir</p>
                        </div>
                    </div> <!-- contact box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-phone"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Telefon Numarası</h6>
                            <p><a href="tel:05076600884">05076600884</a></p>
                        </div>
                    </div> <!-- contact box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-envelope"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Email</h6>
                            <p><a href="mailto:kaan_fb_aslan@hotmail.com">kaan_fb_aslan@hotmail.com</a></p>
                        </div>
                    </div> <!-- contact box -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form pt-30">
                        <form id="contact-form" action="/users/contact" method="POST">
                            
                            <div class="single-form">
                                <input type="text" name="name" placeholder="İsim" id="name">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <input type="email" name="email" placeholder="Email" id="email">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <textarea name="message" placeholder="Mesajınız" id="message"></textarea>
                            </div> <!-- single form -->
                            <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn" type="submit" onclick=" contactAlert()">Mesaj Yolla</button>
                            </div> <!-- single form -->                    
                        </form>
                    </div> <!-- contact form -->                
                </div>             
                <div class="col-lg-6">
                    <div class="contact-map mt-60">
                        <div class="gmap_canvas">                            
                            <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.503981572032!2d29.896454315201254!3d39.480533079484836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c9486d6b77991d%3A0xa51a8d9c8451df0e!2zRFDDnCBNw7xoZW5kaXNsaWsgRmFrw7xsdGVzaQ!5e0!3m2!1str!2sus!4v1665955066059!5m2!1str!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div> <!-- contact map -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== CONTACT PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
   <!--  Ortak Footer İmport -->
    <%-include("partials/_footer")%>
    
    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

<!--     <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
 -->
    <!--====== BACK TOP TOP PART ENDS ======-->
</html>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
const options = {
  bottom: '80px', // default: '32px'
  right: '32px', // default: '32px'
  left: 'unset', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: false, // default: true,
  label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
}

const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>  